<div class="contenedor">
    <div class="container-app-todo">
        <div class="body-app">
            <div class="body-app-title-container">
                <p class="body-app-title">{{ 'RECOMMENDATIONS' | translate }}</p>
            </div>
            <div class="container-task-todo-list">
                <div>
                    <img src="assets/icons/id-business-card.svg" alt="">
                </div>
                <div>
                    <p class="frame-title">{{ 'IDENTITY_TITLE' | translate }}</p>
                    <p class="frame-description">{{ 'IDENTITY_DESCRIPTION' | translate }}</p>
                </div>
            </div>
            <div class="container-task-todo-list">
                <div>
                    <img src="assets/icons/ic-face-id-outline.svg" alt="">
                </div>
                <div>
                    <p class="frame-title">{{ 'LIFE_TEST_TITLE' | translate }}</p>
                    <p class="frame-description">{{ 'LIFE_TEST_DESCRIPTION' | translate }}</p>
                </div>
            </div>
            <div class="container-task-todo-list">
                <div>
                    <img src="assets/icons/ic-approved-checked.svg" alt="">
                </div>
                <div>
                    <p class="frame-title">{{ 'VALIDATION_TITLE' | translate }}</p>
                    <p class="frame-description">{{ 'VALIDATION_DESCRIPTION' | translate }}</p>
                </div>
            </div>
            <div>
                <img src="assets/img/button.png" alt="">
            </div>
        </div>
    </div>
  </div>